:root {
    --header_lightmode: #fff;
    --header_darkmode: #1e1e1e;
    --titulo_h2_darkmode: #fbb040;
    --titulo_h2_lightmode: #333;
    --titulo_h3_darkmode: #fff;
    --titulo_h3_lightmode: #1e1e1e;
    --body: #121212;
    --config: #ccc;
    --dark_mode: #999;
    --light_mode: #fbb040;
    --li: #fff;
    --menu-suspenso_dark_li_hover: rgb(45, 44, 44);
    --menu-suspenso_light_li_hover: rgb(185, 180, 180);
    --a: #fff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



html{
    height: 100%;
}


body {
    background-color: var(--body);
}

header {
    background-color: var(--header);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.701);
}

.icones_home {
    font-size: 2em;
    justify-content: flex-end;
    display: flex;
    cursor: pointer;
}


#config {
    color: var(--config);
    margin-right: 120%;
    margin-top: 130%;
    transition: 0.2s;
}


#config:hover {
    transform: scale(0.9);
}


#dark_mode {
    color: var(--dark_mode);
    font-size: 1.9em;
    margin-left: 2px;
    height: auto;
}

#dark_mode:hover {
    cursor: pointer;
    transform: scale(1.10);
    transition: 0.25s ease;
}


#light_mode {
    color: var(--light_mode);
    margin-left: 2px;
    height: auto;
    font-size: 1.9em;
}

#light_mode:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.10);
    transition: 0.25s ease;
}

.light-mode {
    --header: var(--header_lightmode);
    --body: var(--body);
    --config: var(--config);
    --dark_mode: var(--dark_mode);
    --light_mode: var(--light_mode);
    --li: var(--li);
    --a: var(--a);
    --li_hover: var(--li_hover);
}

#dark_mode {
    display: none;
}

menu {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#font-size-slider {
    width: 10%;
    display: block;
    margin-top: 30px;
}

#close-menu {
    margin-top: 1%;
    position: absolute;
    right: 5%;
    background: none;
    border: none;
    color: var(--li);
    font-size: 1.7em;
    cursor: pointer;
    transition: 0.4s;
}

#close-menu:hover{
    transform: scale(1.2);
}

#buttonClicked{
    width: 0px;
    height: 0px;
    margin-bottom: 50px;
}

.menu-suspenso {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: var(--header_darkmode);
    transition: right 0.6s ease;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
    z-index: 10;
    padding: 20px;
    box-sizing: border-box;
}


.menu-suspenso ul {
    list-style: none;
    padding: 0;

}

.menu-suspenso li {
    background-color: var(--menu-suspenso_dark_li_hover);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--li);
    font-size: 1.1em;
    display: flex;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 14em;
}


.light-mode .menu-suspenso li:hover {
    background-color: var(--menu-suspenso_light_li_hover);
    color: var(--li);
}

.light-mode .menu-suspenso li{
    background-color: #cecaca;
}

.light-mode label {
    color: var(--dark_mode);
}

.menu-suspenso li:hover {
    transform: scale(1.1);
}

.dark-mode label {
    color: var(--titulo_h2_darkmode);

}

.light-mode .menu-suspenso {
    background-color: var(--header_lightmode);
    color: var(--li);
}

#logo img {
    max-width: 20%;
    border-radius: 50%;
}

li {
    display: inline-block;
    margin-right: 30px;
    color: var(--li);
    font-size: 1.1em;

}

li:hover {
    cursor: pointer;
    border-bottom: var(--li_hover);

}

a {
    color: var(--a);
    text-decoration: none;
    font-weight: bold;
}


#footer-menu-suspenso{
    font-weight: bold;
    font-size: 2.6em;
    box-shadow: none;
    text-align: center;
    margin-top: 30%;
    
}

.light-mode #footer-menu-suspenso{
    color: black;
}

#user-profile {
    text-align: center;
    margin-top: 50px;
    
}

#selected-profile {
    width: 8em;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#selected-profile-pic {
    width: 100%;
    object-fit: cover;
    
}

#nome_usuario_menu_suspenso{
    margin-top: 15px;
    margin-bottom: 15px;
}


.dark-mode #nome_usuario_menu_suspenso{
    font-weight: bold;
    color: var(--menu-suspenso_light_li_hover);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main{
    text-align: center;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.container h2 {
    margin-top: 3%;
    font-size: 1.5rem;
}

.container p {
    margin-bottom: 5%;
}

.container ul {
    margin-left: 30px;
    list-style-type: disc;
}

.container ul li {
    margin-bottom: 10px;
}

.dark-mode h1 {
    color: var(--titulo_h3_darkmode);
}

.light-mode h1 {
    color: var(--titulo_h3_lightmode);
}

.dark-mode h2 {
    color: var(--titulo_h2_darkmode);
}

.light-mode h2 {
    color: var(--titulo_h2_lightmode);
}

.dark-mode p {
    color: var(--titulo_h3_darkmode);
}

.light-mode p {
    color: var(--titulo_h3_lightmode);
}

#logo_copy img {
    width: 250px;
}

/* Estilos para o rodapé */
footer {
    margin-top: 10%;
    background-color: var(--header);
    color: var(--a);
    padding: 60px 0;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.701);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-column {
    flex-basis: 30%;
}

.footer-column h3 {
    margin-left: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--a);
    font-weight: normal;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: var(--a);
    font-size: 0.9em;
}

.footer-column ul li a:hover {
    color: #ffffff;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.8em;
    color: #cccccc;
}


/* Estilos para telas menores que 768px */
@media only screen and (max-width: 767px) {
    .titulo h3 {
        font-size: 0.5em;
        padding-left: 20px;
        padding-right: 20px;
    }

    menu ul li a {
        display: none;
    }

    .imagem-texto{
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .titulo h3 {
        font-size: 1.4em;
        padding-left: 50px;
        padding-right: 50px;
    }
}